
@import url('https://fonts.googleapis.com/css2?family=Acme&family=DynaPuff:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 60px;
    right: 200px;
    font-size: 29px;
    font-weight: bold;
    font-family: "Acme", sans-serif;

}
#hiscoreBox{
    position: absolute;
    top: 35px;
    right: 200px;
    font-size: 29px;
    font-weight: bold;
    font-family: "Acme", sans-serif;

}

#board{
    background: linear-gradient(pink , white);
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: linear-gradient(rgb(111, 0, 255), rgb(255, 0, 174));
    border: 2px solid rgb(12, 8, 1);
    transform: scale(1.02);
    border-radius: 9px;

}
.snake{
    background-color: purple;
    border: .25vmin solid rgb(247, 84, 111);
    border-radius: 12px;

}

.food{
    background: linear-gradient(purple , rgb(243, 75, 103));
    border: .25vmin solid black;
    border-radius: 8px;
}